<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mathsolver_JSPClient</display-name>
  <welcome-file-list>
    <welcome-file>/View/Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Findprimeseries</display-name>
    <servlet-name>Findprimeseries</servlet-name>
    <servlet-class>com.simplemathsolver.servlets.Findprimeseries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Findprimeseries</servlet-name>
    <url-pattern>/View/Findprimeseries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsnumPrime</display-name>
    <servlet-name>IsnumPrime</servlet-name>
    <servlet-class>com.simplemathsolver.servlets.IsnumPrime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsnumPrime</servlet-name>
    <url-pattern>/View/IsnumPrime</url-pattern>
  </servlet-mapping>
</web-app>