<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleMarketPlaceClient</display-name>
  <welcome-file-list>
    <welcome-file>/View/main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/View/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/View/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCatalog</display-name>
    <servlet-name>InsertCatalog</servlet-name>
    <servlet-class>Servlets.InsertCatalog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCatalog</servlet-name>
    <url-pattern>/View/InsertCatalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProducts</display-name>
    <servlet-name>InsertProducts</servlet-name>
    <servlet-class>Servlets.InsertProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProducts</servlet-name>
    <url-pattern>/View/InsertProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProducts</display-name>
    <servlet-name>GetProducts</servlet-name>
    <servlet-class>Servlets.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProducts</servlet-name>
    <url-pattern>/View/GetProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>Servlets.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/View/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usercart</display-name>
    <servlet-name>usercart</servlet-name>
    <servlet-class>Servlets.usercart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercart</servlet-name>
    <url-pattern>/View/usercart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>procedetoorder</display-name>
    <servlet-name>procedetoorder</servlet-name>
    <servlet-class>Servlets.procedetoorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>procedetoorder</servlet-name>
    <url-pattern>/View/procedetoorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderdetails</display-name>
    <servlet-name>orderdetails</servlet-name>
    <servlet-class>Servlets.orderdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderdetails</servlet-name>
    <url-pattern>/View/orderdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySales</display-name>
    <servlet-name>MySales</servlet-name>
    <servlet-class>Servlets.MySales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySales</servlet-name>
    <url-pattern>/View/MySales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Myproducts</display-name>
    <servlet-name>Myproducts</servlet-name>
    <servlet-class>Servlets.Myproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myproducts</servlet-name>
    <url-pattern>/View/Myproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>Servlets.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/View/DeleteProduct</url-pattern>
  </servlet-mapping>
</web-app>